.box
  a= image_tag illustration.image_url(:medium), href: illustration.image_url, data: { colorbox: true, title: illustration.title, colorbox_max_height: "90%", colorbox_max_width: "90%", colorbox_retinaImage: true }
  /a= image_tag product.product_image_url(:thumb), class: "product-image-th  img-responsive center-block thumbnail", href: product.product_image_url, data: { colorbox: true, title: product.name }
  
