.hidden-image
  a= image_tag illustration.image_url(:medium), href: illustration.image_url, data: { colorbox: true, title: illustration.title, colorbox_max_height: "90%", colorbox_max_width: "90%", colorbox_retina_image: true }, class: "illustration"
