// Place all the styles related to the illustrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .hidden-image {
//   display: none;
// }

.illustration {
  cursor: pointer;
}

// .item {
//   margin: 20px;
// }
#grid-container {

}

// .item { width: 33%; margin-bottom: 0px; padding: 15px; box-sizing: border-box; }   
// .item.large{ width: 66%; }
// .item > div  { color: #fff; background-color: #000; padding: 20px; } 

#hidden-images {
  display: none;
}
