// Place all the styles related to the illustrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .hidden-image {
//   display: none;
// }

.illustration {
  cursor: pointer;
}

// #hidden-images {
//   display: none;
// }
//
.is-loading {
  background-color: black;
  background-image: url('http://desandro.github.io/imagesloaded/assets/loading.gif');
}
